Goal: Connect to SimpliSafe MariaDB from Python and fetch data using python

High level plan:
1. Connect to VPN Pritunl
2. Connect to MariaDB
3. Run query
4. Fetch data
5. Get data on pandas df or csv or excel
6. Analyse on the database


Reference I am using: https://mariadb.com/resources/blog/mariadb-connector-python-beta-now-available/

First we import maradb and pandas

In [23]:
import mariadb
import pandas as pd

We set a config file. So that we do not have to keep typing the connection info again and again

In [41]:
config = {
            'host': 'analytics.tools.simplisafe.com',
            'user': 'tsarkar',
            'password': 'NOQ5aRXy2JiQxIkzwnON',
         }

outputfolder = "G:\\My Drive\\2020 05. SQL Outputs\\" 

conn = mariadb.connect(**config)

We will now type a few queries. SO that we can run the apt query when needed.

In [43]:
query01 = "SELECT * from simplisafe_LIVE.uc_orders LIMIT 100"
query02 = "SHOW DATABASES"
query03 = "SHOW tables FROM simplisafe_LIVE"
query03 = "SHOW columns FROM simplisafe_LIVE.uc_orders"

In [45]:
df = pd.read_sql(query03, conn)
df.head(10)

                 Field              Type Null  Key  Default           Extra
0             order_id  int(10) unsigned   NO  PRI     None  auto_increment
1                  uid  int(10) unsigned   NO  MUL        0
2         order_status       varchar(32)   NO  MUL     None
3          order_total     decimal(16,5)   NO       0.00000
4        primary_email       varchar(96)   NO  MUL     None
5  delivery_first_name      varchar(255)   NO  MUL
6   delivery_last_name      varchar(255)   NO  MUL
7       delivery_phone      varchar(255)   NO  MUL
8     delivery_company      varchar(255)   NO
9     delivery_street1      varchar(255)   NO

In [42]:
df.to_csv(outputfolder+'test.csv')

finally, we close the connection

In [24]:
conn.close()

Now we wan to push the 
https://reproducible-science-curriculum.github.io/sharing-RR-Jupyter/01-sharing-github/